<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener 
		class-name="com.learnautomation.utility.ExtentTestNGITestListener">	
		</listener>
	</listeners>
	
  <test thread-count="4" name="Test" parallel="classes">
    <classes>
      <class name="com.learnautomation.testcases.LoginTestWithoutPOM"/>
      <class name="com.learnautomation.testcases.LoginTestWithPOMWithFactory"/>
      <class name="com.learnautomation.testcases.LoginTestWithPOM"/>
      <class name="com.learnautomation.testcases.UserCreateTest"/>
      <class name="com.learnautomation.testcases.UserCreateTest"/>
      <class name="com.learnautomation.base.BaseClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
